/*p{
	background-color: #0000CC;
	color:#ffffff;
	box-sizing:border-box;

	
	
	height: 200px;
	margin:5px;
	border: 20px solid #000000;
	padding: 15px;
  
	margin-top: 50px
}*/

h1{
	text-align: center;
	background-color: pink;
	color: rgb(0,0,139);

}
h2{
	text-align: center;
	font-family: cursive;
	font-style: italic;
	color: rgb(255,165,0);
}
a{

	text-align: center;
	color: rgb(255,0,0);
	font-style: italic;
	box-sizing: border-box;
    height: 50px;
    margin:5px;
	border: 2px dashed rgb(0,0,139);
	padding: 10px;
    margin-top: 50px
}


section{
	display: inline-block;
	background-color: rgba(0,255,255,0.1);
	color: rgb(0,255,255);
box-sizing: border-box;
height: 200px;
width: 200px;
margin:5px;
	border: 10px double rgb(0,128,0);
	padding: 15px;
  
	margin-top: 50px

}

