aside{
  display: none;
}

header{
  background-color: rgba(0,255,0,0.1);
  }

h1{
  text-align: center;
  font-family: "Comic sans MS","sans-serif",verdana;
  font-variant: small-caps;
  color: #FFA500;
}

a{
  background-color: rgba(0,255,255,0.3);
  display: inline;
  color: #FF1493;
  font-family: "sans-serif",verdana;
  
}

section{
  background-color: #FFFF00;
}

h2{
  color: rgb(255,0,0);
  font-variant: small-caps;
  font-family: verdana, helvetica;
}